@{
    ViewBag.Title = "Home Page";
}
<div class="olcontent f1"><h2 style="color:black">Search Product/category</h2></div>
<div class=" olcontent fr">
    <input type="text",place
</div> 



<h3>this is checking</h3>

